
#crm-power-pane {
    font-family: Segoe\000020UI,Tahoma,Arial;
    font-size:11px;
    -webkit-touch-callout: none; 
   -webkit-user-select: none;   
   -khtml-user-select: none;    
   -moz-user-select: none;      
   -ms-user-select: none;       
   user-select: none;  
}

.crm-power-pane-sections {
    display:none;
    width:100%;
    position:absolute;
    background-color:white;
    color:black;
    padding:10px 0px 10px 30px;
    font-size:14px;
    box-shadow: 5px 5px 5px #CCC;                          
}

.crm-power-pane-section {
    list-style-type: none;
    float: left;
    margin-right: 45px;
}

.crm-power-pane-header {
    display: block;
    white-space: nowrap;
    cursor: default;
    font-weight: 500;
    height: 100%;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 13px;
    margin-left: 4px;
    color: #1160B7;
    height:30px;
}

.crm-power-pane-subgroup {
    height:40px;
    margin-left:10px;
    cursor:pointer;
}

    .crm-power-pane-subgroup span {
        display:inline-block;
        padding:10px 10px 0px 32px;
        height:30px;
    }

    .crm-power-pane-subgroup span:hover {
        background-color:#DFDFDF !important;
    }

    .crm-power-pane-subgroup span.icon { background-position: 0px 8px !important; background-repeat: no-repeat !important; }
    .crm-power-pane-subgroup span.entity-name-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/entity-name.png'); }
    .crm-power-pane-subgroup span.record-id-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/record-id.png'); }
    .crm-power-pane-subgroup span.record-url-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/record-url.png'); }
    .crm-power-pane-subgroup span.record-properties-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/record-properties.png'); }
    .crm-power-pane-subgroup span.go-to-record-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/go-to-record.png'); }
    .crm-power-pane-subgroup span.enable-all-fields-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/enable-all-fields.png'); }
    .crm-power-pane-subgroup span.show-all-fields-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/show-all-fields.png'); }
    .crm-power-pane-subgroup span.disable-field-requirement-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/disable-field-requirement.png'); }
    .crm-power-pane-subgroup span.schema-names-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/schema-names.png'); }
    .crm-power-pane-subgroup span.schema-names-as-desc-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/schema-names-as-desc.png'); }
    .crm-power-pane-subgroup span.refresh-form-icon { background: url('chrome-extension://__MSG_@@extension_id__/img/action-icons/refresh-form.png'); }

#crm-power-pane-notification {
    position: absolute;
    width: 200px;
    border: 1px solid #DDD;
    border-radius: 8px;
    padding: 7px;
    font-size: 11px;
    right: 75px;
    bottom: 100px;
    display:none;
}

.crm-power-pane-info {
    background-color: #abd2ff;
    color: #315279;
    border: 1px solid #83bdff;
}

.crm-power-pane-warning {
        background-color: #e2fdbb;
    color: #5d7d2f;
    border: 1px solid #b5e86b;
}

.crm-power-pane-error {
    background-color: #ffabab;
    color: #911a1a;
    border: 1px solid #ff7878;
}

.crm-power-pane-default {
    color: #333;
    border: 1px solid #DDD;
}

.crm-power-pane-success {
    background-color: rgb(165, 251, 180);
    color: rgb(74, 148, 87);
    border-color: rgb(125, 234, 144);
}

#crm-power-pane-popup-bg {
    display:none;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    margin: 0px;
    padding: 0px;
    opacity: 0.3;
}

#crm-power-pane-popup {
    display:none;
    width:300px;
    height:450px;
    background-color:white;
    box-shadow:0px 0px 15px black;
    position:absolute;
    left:50%;
    top:15%;
    margin-left:-175px;

}
