body {
    
    font-family: 'Segoe UI', 'Tahoma', 'Arial';
    font-size: 11px;

    h2 {
        font-size: 18px;
        color: rgb(17, 96, 183);
    }
    
    h3 {
        font-size: 16px;
        color: rgb(17, 96, 183);
    }

    label {
        display: block;
        font-size: 14px;
        padding: 3px;
    }

    button {
        margin: 5px;
    }
}